server:
  port: 8080
  address: 0.0.0.0
  servlet:
    context-path: /bej3

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/new_bej_sp3?createDatabaseIfNotExist=true"
    username: root
    password: 123456
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  
  sql:
    init:
      mode: never

  web:
    cors:
      allowed-origins: "http://localhost:5173"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
      allowed-headers: "*"
      allow-credentials: true

  rabbitmq:
    host: localhost
    port: 61613
    username: guest
    password: guest
      
jwt:
  signerKey: "7bZydhCMPlM7eKuKjxy1gIhbtMo7hTPNvYJr2FguJZtvxpeQ21K3MjP90WjNtYLO"